/*
  Hacer el Reset?
  
  */

* {
  font-family: 'Barlow Condensed', sans-serif;
  font-family: 'Prompt', sans-serif;
}

.logo img {
  position: absolute;
  width: 18rem;
  margin: 1rem;
  border-radius: 30% 30% 50% 70%;
  transition: transform 0.4s;
}

.logo img:hover {
  transform: rotate(-8deg);
}

.nav_bar .bg-dark {
  width: 100%;
  background-color: #64c586 !important;
}

.nav_bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-right: 2rem;
  width: 100%;
  height: 7rem;
  background-color: #64c586;

}

.buscar {
  display: flex;
  align-items: center;
}

#site-search {
  background-color: white;
  border-color: white;
  border-radius: 25px;
}

.btn {
  background-color: #f6d167;
  border-color: white;
  color: black;
  margin-left: 1rem;
}

.ul_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 55rem;

  color: white;
  list-style: none;
}

.ul_nav li {
  margin: 15px;
  color: white;
  font-size: 1.3rem;
}

nav a {
  font-size: 2rem;
  margin-right: 2.5rem;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #f6d167;

  transition: 0.5s;
}

#modal_1,
#modal_2,
#modal_3 {
  display: none;
  width: 40rem;
  height: 40rem;
  padding: 3rem;
  position: absolute;
  color: black;
  background-color: #64c586;
  border-radius: 5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  justify-items: center;
  align-items: center;
  margin: 12rem 40rem;
  overflow: hidden;
}

input,
textarea {
  background: white;
  border: solid 1px rgb(113, 112, 112);
  padding: 5px;
  width: 300px;
}

textarea {
  height: 8rem;
}

.enviar,
.cerrar {
  color: white;
  background-color: #f6d167;
  border: solid 1px rgb(113, 112, 112);
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 7rem !important;
  margin: 3rem 5rem;
}

.descripcion {
  display: block;
  text-align: center;
  margin-top: 1.5rem;
  font-size: 1.5rem;
}

.intro_cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 5rem 15rem 5rem 15rem;

}

.card {
  display: flex;
  flex-direction: column;
  width: 18rem;
  height: 30rem;
  box-shadow: 0 4px 16px #64c586;
}

.card img {
  width: auto;
  height: 15rem;
}

.card {
  transition: transform 0.2s;
  /* Agregar una transición suave para el efecto de escala */
}

.card:hover {
  transform: scale(1.05);
  /* Escalar la tarjeta al 105% de su tamaño original en el hover */
}

.carousel-item img {
  /*max-height: 350px;*/
  object-fit: cover;
}

.carousel-caption {
  background-color: rgba(red, green, #FFD166, alpha);
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.carousel.caption h3 {
  font-size: 24px;
  font-weight: bold;
  color: #0d6824;
  margin-bottom: 10px;
}

.carousel-caption p {
  font-size: 18px;
  color: #18a82b;
}


.btn .btn-primary {
  background-color: #f6d167;
  border-color: yellowgreen;
  margin-top: 5rem;


}

.btn-primary:hover {
  color: white;
  background-color: #64c586 !important;
  text-shadow: 0 2px 15px #f6d167;
  transition: 0.5s;
  border: none;
}

.nosotros {
  background-color: #64c586;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 28rem;
}

.nosotros h3 {
  text-align: center;
  border: 2rem;
  border-color: black;
}

.descripcion_nosotros {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 1.8rem;
  width: 60%;
}

.nosotros_img {
  width: 20rem;
  height: 20rem;
  box-shadow: 0 4px 16px #f6d167;
}

.flip_card {
  position: relative;

  width: 20rem;
  height: 20rem;

  float: left;
  perspective: 500px;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;


  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip_card:hover .content {
  transform: rotateY(180deg);
  transition: transform 0.8s;
}

.front,
.back {
  position: absolute;
  height: 20rem;
  width: 20rem;




  backface-visibility: hidden;
}

.back img {
  width: 20rem;
  height: 20rem;
}

.back {

  transform: rotateY(180deg);
}


h3 {
  font-size: 2.5rem;
  text-align: center;
}

.top_title {
  margin-top: 2rem;
}

.empresas_confian {
  display: flex;
  width: 100%;
  height: 20rem;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.empresas_confian img {
  width: 12rem;
  height: 10rem;
  margin: 5rem;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
}


.empresas_confian img:hover {
  transform: scale(1.05);

}


.redes_y_acciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #64c586;
  color: black;
  height: 20rem;
}

.ul_redes {
  display: flex;
  list-style: none;
  margin-top: 5rem;
}

.ul_redes i {
  color: black;
  margin: 0 2rem 0 2rem;
}

i:hover {
  color: #f6d167;
  transition: 0.2s;
}

footer {
  color: white;
  background-color: #f6d167;
  text-align: center;
  padding: 0.8rem;
  width: 100%;
}

footer:hover {
  color: black;
  text-shadow: 0 2px 15px rgb(246, 249, 250);
  transition: 0.5s;
}


@media (max-width:400px) {
  .logo {
    width: 5px;
  }


  .ul_nav {
    display: none;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .intro_cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    margin: 4%;
  }

  .nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .empresas_confian {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .redes_y_acciones {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width:400px) and (max-width:800px) {}

@media (min-width:800px) {}